
#thumb1{
  background: url("Images/Thumbs/KurtBaggaley.jpg");
}

#thumbimage{
  width: 220px;
  height: 220px;
  background: url("Images/Thumbs/KurtBaggaley.jpg");
}

#thumb{
  opacity: 1;
  position: relative;
  background: url("Images/Thumbs/KurtBaggaley.jpg");
}

#thumb:hover{
  opacity: 0.5;
}

h6 {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
}

/*h6 span {
  color: red;
  font: bold 14px/35px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background-color: rgba(0,0,0,1);
  padding: 10px;
}*/

h6 span:hover {
  color: red;
  font: bold 14px/35px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background-color: rgba(0,0,0,1);
  padding: 10px;
}

h6 span.spacer {
   padding:0 5px;
}

