#releases_page {
  background: url("http://i.imgur.com/G15ljtN.jpg") no-repeat center center fixed;;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(127,174,182, 0.5);
  width: 100%;
  height: auto%;
}

#center{
  text-align: center;
}

#thumbimage{
  width: 220px;
  height: 220px;
}

#thumb{
  opacity: 1;
  background-color: rgba(126,174,186,0);
  color: rgba(255, 255, 255, 0.2);
/*  position: relative;*/
  text-align: center;
}

#thumb:hover{
  border:8px solid rgba(255,89,168, 1);
  background-color: rgba(126,174,186,0.7);
  color: rgba(255, 255, 255, 1);
}

 #thumb h4{
  color: rgba(255, 255, 255, 0);
} 

 #thumb h4:hover{
  color: rgba(255, 255, 255, 1);
} 

#gridlinks{
  text-decoration: none;
}